.app-wrapper {
  text-align: center;
  margin-top: 2rem;
}

.image-link {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.image-link:hover {
  opacity: 0.7;
}

.photo-wrapper {
  display: inline-block;
  margin: 2rem;
  background: #003189;
  color: #6bc329;
}
